body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 51px);
}

.errortext {
    font-weight: 900;
    font-size: 18px;
}